<%# coding: UTF-8 -%>
<table id="login-box">
  <tr>
    <td colspan="2">
      <div id="headline-container">
        <strong><%=  @organization %></strong>
        <h1> Login </h1>
      </div>
    </td>
  </tr>

  <tr>
    <td id="login-form-container">
      <%= render 'login_form' %>
    </td>
  </tr>
</table>
